/*
Colors used

Primary Color (Teal): #35B0AB;
Secondary Color (Gold): #FEC73C;
Tertiary Color (Red): #C23143;
Dark Grey: #373F47;

Fonts used

Body Text: Open Sans Condensed (300,300i,700)
*/

/* Responsive */

@media all and (max-width: 500px) {
  .logo {
    height: 50px;
  }
  h1 {
    font-size:24px;
    text-align: left;
  }
  .column-4 {
    width: 49%;
    margin-right: 1%;
  }
  .colunm-4:nth-child(2) {
    margin-right: 0;
  }
}


/* Text Styles */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/* Link Styles */
a {
  color: #35B0AB;
  text-decoration: none;
}

/* not often used
a:visited {
  color: #91979F;
} */

a:hover, a:focus {
  text-decoration: underline;
}

a:active {
  color: #489c79
}

/* Elements */
button {
  border: none;
  font-family: inherit;
  background-color: #FEC73C;
  color: white !important;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button-secondary {
  border: solid 2px #FEC73C;
  background-color: none;
}

.secondary-button:hover,
.secondary-button:focus {
  cursor: pointer;
  background-color: #FEC73C;
  opacity: 0.8;
}

/* Layout Styling */

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.column-4 {
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  float: left;
  text-align: center;
}

.column-4:last-child {
margin-right: 0;
}

.preview-img {
  max-width: 90%
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

.header {
  padding: 16px 8px 48px 8px;
}

.logo {
  float: left;
